@import url(http://allfont.ru/allfont.css?fonts=montserrat-light);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

ul {
  padding: 0;
}

body {
  min-width: 300px;
  font-size: 14px;
}

.page-header {
  background-color: #232323;
}

.header-top{
  background-color: #2b2b2b;
  margin-bottom:30px;
  height: auto;
}


.container{
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}


.container-flex{
  display: flex;
  justify-content: space-between;
}


.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.montserrat-light {
  font-family: 'Montserrat Light', sans-serif;
}

.header-phone{
  color: #7f7f7f;
  font-family: 'Montserrat', sans-serif;
  order:0;
}

.header-phone a{
  color: #7f7f7f;
  text-decoration: none;
}

.header-phone, .header-user{
  padding: 5px 0;
}

.span-search {
  margin: 0 5px;
}

.header-user{
  order:1;
  color: #3b3b3b;
}

@media (max-width: 470px){
  .container-flex{
    flex-wrap: wrap;
}
  .container-flex-header{
    flex-direction: column;
  }

  .header-top{
    text-align: center;
    margin-bottom: 20px;
  }
  .header-phone{
   padding-top: 0;
  }

  .container-flex-logo {
   flex-direction: column;
  }

  .header-logo{
    margin-bottom:10px;

  }
}

.header-user a {
  color: #666666;
  text-decoration: none;
}

.header-user a:hover{
  text-decoration: underline;
}

@media (min-width: 690px) {
  .header-nav li {
    display: inline-block;
  }
  .header-nav li+li {
    margin-left: 30px;
  }
}

@media (max-width: 690px) {
  .header-nav li {
    display: block;
  }
  .header-nav li+li {
    margin-left: 0;
  }
}


.header-search {
 border: 1px solid #323232;
}


.header-search input{
  height: 44px;
  display:inline-block;
  background: none;
  border: none;
  max-width: 220px;
  min-width: 160px;
  padding-left: 25px;
  font-size: 13px;
  color: #ffffff;
}

.header-search button {
  width: 55px;
  height: 44px;
  display:inline-block;
  vertical-align: middle;
  background: url("../images/icon-search.png") center center  no-repeat;
  border: none;
  }

@media (max-width: 500px) {
  .container-flex{
    flex-wrap: wrap;
  }

  .header-logo {
    display: block;
    text-align: center;
  }

  .header-search {
    flex-grow: 1;
   }
  .header-search input{
  width: calc (100% - 55px);
  }
}

.header-nav{
  order:0;
}

.header-nav ul{
  list-style: none;
  margin-left: -10px;
  padding: 0;
}

.header-nav a{
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}

.header-nav a:hover, .header-nav .current a {
  color: #be926f;
}

.header-cart {
  background: url("../images/icon-cart.png") center center no-repeat;
  width: 17px;
  height: 22px;
  padding: 10px;
  background-position: center center;
  order:1;
}

.cart-count {
  color: #232323;
  font-size: 12px;
  background-color: #be926f;
  text-decoration: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  position: relative;
  top: -7px;
  right: -7px;
}

.main-contacts {
  background-color: #e7e7e7;
  margin-top: 27px;
  line-height: 117px;
  min-width: 310px;
}

.main-contacts-us {
  float: left;
  font-size: 30px;
  display: inline-block;
  padding-left: 27px;
  }

.main-home a {
  text-decoration: none;
  color: #666666;
}

.main-home {
  display: inline-block;
  padding-right: 20px;
  font-size: 14px;
}

.container-flex-contacts{
  display: flex;
  justify-content: space-between;
}


@media (max-width: 400px){
  .container-flex-contacts {
    flex-direction: column;
  }
    .main-contacts-us{
      display: block;
      text-align: center;
      padding: 0;
    }

    .main-home {
      display: block;
      text-align: center;
      padding: 0;
    }
    .main-contacts {
      text-align: center;
      line-height: 32px;
      font-size: 26px;

    }
}
