@import url(http://allfont.ru/allfont.css?fonts=montserrat-light);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.class-top {
  background-color: #2b2b2b;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #666666;
  height: 34px;
  max-width: 1920px;
}

/* .class-telephone:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
} */

.class-telephone {
  float: left;
  padding-left: 19.53%;
}

.class-telephone, .class-login {
  margin-top: -10px;
}

.class-login {
  float: right;
  padding-right: 19.53%;
}

/*.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
*/

.clear {
  clear: both;
}

.navigat {
  background-color: #232323;
  height: 168px;
}

.class-logo {
  position: absolute;
  top: 64px;
  left: 19.53%;
}

.search {
  position: absolute;
  top: 64px;
  right: 19.53%;
}

input {
  height: 35px;
  background-color: #232323;
  border: 1px #323232 solid;
}


.page-navigation{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 107px;
}



.container ul {
  padding-left: 19.53%;
}


ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  margin-right: 54px;
  color: #ffffff;
}

a:hover {
  color: #be926f;
}


li{
  display: inline-block;
  position: relative;

}



